<!DOCTYPE html>
<html>

<head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" rel="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <link href="index.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="body"  ng-style="weatherBackground" class="text-center" ng-app="weatherApp" ng-controller="weatherCtrl">

    <div id="head"  class="btn col-md-2 col-md-offset-5" >
        <p class="weather"  href="#index.html">
              Weather
              <i class="fa fa-cloud" style="font-size:24px;"></i>
        </p>
       <div>
            <p id="text" >Today ({{date | date:'EEE M/d/yyyy'}})
                <a href="next.html" data-toggle="tooltip" data-placement="top" title="Forecast for next three hours!">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
               </a>
            </p>
      </div>
  </div>
    <div id="r" class="row">
        <div id="r" class="row-height">
            <div id="button" class="btn-group-vertical weatherParent">
                <div class="btn btn-primary btn-responsive eachData"> City - {{name | uppercase}}</div>
                <div class="btn btn-primary btn-responsive eachData"> Time - {{ date| date:'shortTime'}}</div>
                <div class="btn btn-primary btn-responsive eachData"> Wind Speed - {{speed}} </div>
                <div class="btn btn-primary btn-responsive eachData" ng-init="tempVal=true" ng-show="tempVal" ng-click="tempVal=!tempVal">  {{fTemp}} (C/F) </div>
                <div class="btn btn-primary btn-responsive eachData" ng-show="!tempVal" ng-click="tempVal=!tempVal"> {{cTemp}} (C/F)  </div>
                <div class="btn btn-primary btn-responsive eachData"> Description - {{description | uppercase}} <img ng-src="{{icon}}"/>  </div>
            </div>
        </div>
    </div>
    <script src="index.js">
    </script>
</body>

</html>
