.weather {
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}
body{
  margin: auto 0;
  display: inline-block;

}

.eachData{
  color: white;
  background: rgba(0,0,0,.5);
  text-align: center;
}
.weatherParent{
  width: 50%;
margin: auto 0;
}
@media (max-width: 800px) {
    .weather {
        display: none;
    }
    #text {
        word-wrap: break-word;
        font-size: 15px;
    }
    body {
        background-color: red;
    }
}
