
.weather{
  color: white;
}
  body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 800px) {
  .weather{
    display: none;
  }
  #text{
    word-wrap: break-word;
    font-size: 15px;
  }

  body{
background-color: red;
  }


}
